

.Cabeçalho--fixo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.h1-cabeçalho {
    background: #061832;
}

.img--cabeçalho {
    width: 200px;
    height: 100px;

}


.sei--li-nav-cabeçalho {
    margin-left: 15%;
}


.li-nav-cabeçalho {
    display: inline-block;
    padding: 15px 12px;
}

.li-nav-cabeçalho a:hover {
    border-bottom: 5px solid  #CE9F24;
    padding-bottom: 7px;
}

.li-nav-cabeçalho a:active {
    text-transform: none;
}

.li-nav-cabeçalho a:link {
    text-decoration: none;
}

img{
    position: absolute;
    top: 7%;
    display: flex;
    width:60%;
    height: 500px;
    align-content: center;
    border: 5px solid green;
    margin-left: 10%;
}
.barra-lateral {
    position: absolute;
    right: 5px;
    bottom: 5px;
    align-content: space-evenly;
    border: 5px solid blue;
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    height: 300px;
}
.titulo-texto{
    font-weight: 200;
    color:rgb(15, 129, 129) !important;
    margin: 0 auto;
    text-align: center;
}
#titulo-texto-tudo{
    position: absolute;
    top: 80%;
    left: 0;
    width:80%;
    height: auto;
    border: 5px solid red;
}
