.barra-lateral {
    position: absolute;
    right: 5px;
    bottom: 5px;
    align-content: space-evenly;
    border: 5px solid blue;
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    height: 300px;
}

element.style {
    border: 5px solid green;
    padding: 100px 49%;
}
.titulo-texto{
    margin: 0 auto
}
