@import url(Reset.css);
@import url(Style.css);



*{
    color: white;
}

body {
    font-family: 'Shippori Mincho B1';
    
    background: rgb(25, 27, 28);
    color: white;

}

header {
    position: fixed;
    width: 100%;

    background: #061832;
}

nav {
    position: fixed;
    width: 100%;

    background:   rgb(6, 24, 50);
    border-top: 1px solid  #CE9F24;
}