@import url(Reset.css);
@import url(Style.css);


html {
    width: 100%;
}

*{
    color: white;
}

body {
    font-family: 'Shippori Mincho B1';
    
    background: rgb(25, 27, 28);
    color: white;

}


nav {
    background:   rgb(6, 24, 50);
    border-top: 1px solid  #CE9F24;
}