

.Cabeçalho--fixo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.h1-cabeçalho {
    background: #061832;
}

.img--cabeçalho {
    width: 200px;
    height: 100px;

}


.sei--li-nav-cabeçalho {
    margin-left: 15%;
}


.li-nav-cabeçalho {
    display: inline-block;
    padding: 15px 12px;
}

.li-nav-cabeçalho a:hover {
    border-bottom: 5px solid  #CE9F24;
    padding-bottom: 7px;
}

.li-nav-cabeçalho a:active {
    text-transform: none;
}

.li-nav-cabeçalho a:link {
    text-decoration: none;
}

