.img-cabeçalho {
    background: #061832;

    width: 200px;
    height: 100px;

}

.ul-nav-cabeçalho {
    margin-left: 15%;
}

.li-nav-cabeçalho {
    display: inline-block;
    padding: 15px 12px;
}

.li-nav-cabeçalho a:hover {
    border-bottom: 5px solid  #CE9F24;
    padding-bottom: 7px;
}

.li-nav-cabeçalho a:active {
    text-transform: none;
}

.li-nav-cabeçalho a:link {
    text-decoration: none;
}

